
C# resource/.vs/SEViewer/v15/sqlite3/storage.ide
C# resource/SEViewer/bin/Debug/app.publish/SEViewer.exe
C# resource/SEViewer/bin/Debug/SEViewer.application
C# resource/SEViewer/bin/Debug/SEViewer.exe
C# resource/SEViewer/bin/Debug/SEViewer.exe.manifest
C# resource/SEViewer/bin/Debug/SEViewer.pdb
C# resource/SEViewer/obj/x86/Debug/SEViewer.exe
C# resource/SEViewer/bin/Debug/SEViewer.pdb
C# resource/SEViewer/obj/x86/Debug/SEViewer.pdb
